h1 {
  font-weight: bolder;
}
.container {
  font-style: italic;
}
.jumbotron {
  color:#0E0228;
  background-color: white;
  font-size: 20px;
  font-weight: bolder;
  background-image: url("https://bit.ly/2SoKxfi")
}
.content {
  background-color: white;
  width: 400px;
  padding: 15px;
  color: blue;;
  margin: 0 auto;
  border-style: dashed;
  position: static;
  width: 300px;
  align-items: center;
}
.form input[type = "text"]:hover{
  width:200px;
}
.form input[type = "text"]:focus{
  width: 220px;
}
.form input[type = "submit"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid;
  padding: 14px 40px;
  outline: none;
  border-radius: 24px;
  color: white;
  transition: 0.25s;
  cursor: pointer;
}
.form input[type = "submit"]:hover{
  background: green;
  color: black;
}
#akanName {
  color: blue;
  background-color: white;
  font-size: 20px;
}
